* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}

td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.texto,
th.texto {
    width: 110px;
    max-width: 110px;
    word-break: break-all;
    text-align: left;
}

td.precio,
th.precio {
    width: 50px;
    max-width: 50px;
    word-break: break-all;
    text-align: right;
}

td.importe,
th.importe {

    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.centradonombre{
    font-weight: bold;
    text-align: center;
    align-content: center;

}

.centradoheader {
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.textoinformacion {
    /*text-align: center;*/
    /*align-content: right;*/
    margin-left: 80px;

}

.filanobordeprincipal td {
    border-spacing: 15px;
    margin-top: 20px 1rem;
    border: hidden;
}

.filanoborde td {
    border: hidden;
}


.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    /*max-width: inherit;*/
    /*width: inherit;*/
    align-content: center;
}
