.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.bubbles h1 {
position: relative;
margin: 1em 0 0;
font-family: 'Courier New', cursive;
color: black;
font-size: 30px;
border-color: red;
z-index: 2;
font-weight: bold;
}
.bubbles h2 {
position: relative;
margin: 1em 0 0;
font-family: '', cursive;
color: black;
font-size: 40px;
border-color: red;
background-color: orange;
z-index: 2;
font-weight: bold;
}
.bubbles h3 {
position: relative;
margin: 1em 0 0;
font-family: 'Valken', cursive;
color: white;
font-size: 60px;
z-index: 2;
font-weight: bold;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 40px;
background-color: orange;
z-index: 1;
}
