.sidebar {
	position: absolute;
	width: 210px;
	height: 100%;	
	background: #687a85;
	color: #fff;
}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar h2 {
	text-align: center;
	margin: 0;
	background: #687a85;
	padding: 10px;
}
.sidebar li {
	border: 1px solid 
}
.sidebar li:hover {
	background: #117a85;
	
}
.sidebar a {
	display: block;
	color: #ffffff;
	padding: 10px;
	text-decoration: none;
}
.contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
}
.menu-bar {
	cursor: pointer;
}
.abrir {
	transform: translateX(210px);
}