
    #divcambiarimagencheckbox{
        
        margin-bottom: 5%;

    }

    #containerdivcambiarimagencheckbox{
        
        margin-left: 10%;

    }

    #contenedorinputimagen {
        margin-left:5%;
        margin-bottom: 5%;
    }

    #avatar {
        margin-left: 5px;
    }

    #botoncategoria{

        margin-left:15px;
        margin-right:50px;

    }

    #botonmodificar {

        margin-bottom: 10px;
        margin-right: 100px;
    }