

        /*IMAGEN DE LA CATEGORIA, MARCA, PRESENTACIÓN*/
        .contenedor {
            
            border: rgb( 94, 93, 90 ) 5px solid;
            position: relative;
            display: inline-block;
            text-align: center;
            width: 310px;
            filter: opacity( 80% );
            margin-left: 10px;

        }

        /*TEXTO DE LA IMAGEN DE LA CATEGORIA, MARCA, PRESENTACIÓN*/
        .centrado {
            
            text-shadow: 2px 2px black;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        
        .a:active, .a:hover, a:link, a:visited {

            text-decoration: none;
            color: white;

        }        

        .scrollbar {

            height: 400px;
            overflow: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            white-space:nowrap;
            border-radius: 10px;            

        }

        #scrollbar-style::-webkit-scrollbar {
            
            width: 6px;
            background-color: #F5F5F5;

        }

        /* Se pone un color de fondo y se redondean las esquinas del thumb */
        #scrollbar-style::-webkit-scrollbar-thumb {

            
            border-radius: 4px;
            /*background-color: rgb(84, 81, 72);*/
            background-color: rgb(49, 163, 204);

        }

        /* Se cambia el fondo y se agrega una sombra cuando esté en hover */
        #scrollbar-style::-webkit-scrollbar-thumb:hover {

            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

        }

        /* Se cambia el fondo cuando esté en active */
        #scrollbar-style::-webkit-scrollbar-thumb:active {
            
            background-color: #999999;

        }
        /* Se pone un color de fondo y se redondean las esquinas del track */
        #scrollbar-style::-webkit-scrollbar-track {

            background: #e1e1e1;
            border-radius: 4px;

        }

        /* Se cambia el fondo cuando esté en active o hover */
        #scrollbar-style::-webkit-scrollbar-track:hover,
        #scrollbar-style::-webkit-scrollbar-track:active {

            background: #d4d4d4;

        }

        .textotooltip {
                        
            width: 800px;
            background-color:rgba(0, 0, 0, 0.78);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

        }